{% extends 'base.html.twig' %}
{% block head %}

{% endblock %}
{% block title %}Registrarse - Oretan-IA{% endblock %}
{% block body %}
    <main>
        <header id="signup-header">
            <h1>Crear una cuenta</h1>
            <p>Regístrate para acceder a todas las funcionalidades de Oretan-IA</p>
        </header>
        <form action="./usuario/new" method="post" id="signup-form">
            <p id="signup-general-error" style="color: red; display: inline">{{ error[0] }}</p><br>

            <label for="signup-fullname">Nombre Completo</label><br>
            <input type="text" id="signup-fullname" name="signup-fullname" pattern=".+,.+" required placeholder="Apellidos, Nombre">
            <p id="signup-fullname-error" style="color: red; display: inline">{{ error[1] }}</p><br>

            <label for="signup-email">Correo electrónico</label><br>
            <input type="email" id="signup-email" name="signup-email" required placeholder="correo@mail.com">
            <p id="signup-email-error" style="color: red; display: inline">{{ error[2] }}</p><br>

            <label for="signup-pswd">Contraseña</label><br>
            <input type="password" id="signup-pswd" name="signup-pswd" required>
            <p id="signup-pswd-error" style="color: red; display: inline">{{ error[3] }}</p><br>

            <label for="signup-confirm">Confirmar contraseña</label><br>
            <input type="password" id="signup-confirm" name="signup-confirm" required>
            <p id="signup-confirm-error" style="color: red; display: inline">{{ error[4] }}</p><br>

            <button type="submit" id="signup-submit">Entrar</button>
        </form>
        <section>
            <span>¿Ya tienes cuenta?</span> <a href="./login" class="sesion">Inicia sesión aquí</a>
        </section>
        <script src="{{ asset('script/signup.js') }}"></script>
    </main>

{% endblock %}
